<header class="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul class="d-flex justify-content-center">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <% category.forEach(cat => { %>
                            <li><a href="/category-list?id=<%= cat._id %>"><%= cat.categoryName %></a></li>
                        <% }) %>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right text-right">
                   <!-- <div class="header__right__auth"> -->
                         <div class="offcanvas__auth"> 
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <div class="search-option">
                        <!-- <form action="/search" method="POST" class="search-form">
                            <a href="/search" id="searchIcon"><i class="icon_search search-switch"></i></a>
                            <input type="text" name="query" placeholder="Search products...">
                            <button type="submit"><i class="fa fa-search"></i> Search</button>
                        </form> -->
                    </div>
                    <ul class="header__right__widget d-flex align-items-center justify-content-end">

                        <li><a href="/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="/profile"><i class="fa-solid fa-user"></i></a></li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>